.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .addTodo {
    input {
      height: 32px;
      width: 240px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .filter-wrapper {
    margin-top: 24px;

    button {
      background: #fff;
      color: #333;
      border: 1px solid #9f9f9f;
    }
  
    button.selected {
      background: #646cff;
      color: #fff !important;
      border: 1px solid #646cff;
    }
    
    button:hover,
    button:active,
    button:focus {
      border: 1px solid #646cff;
      color: #646cff;
      outline: none;
    }

    button + button {
      margin-left: 24px;
    }
    
    .filters {
      list-style: none;
      display: flex;
    }
    
    .filters li {
      margin-right: 6px;
    }
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px;



      .delete-button,
      .cancel-button {
        font-size: 14px;
        background-color: red;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
        color: #fff;
        padding: 4px;
      }

      &.completed {
        .title {
          text-decoration: line-through;
          color: #949494;
        }
      }

      .edit,
      .cancel-button {
        display: none;
      }
    }

    .editing {
      .delete-button,
      .title {
        display: none;
      }

      .edit,
      .cancel-button {
        display: block;
      }
    }

    li + li {
      margin-top: 12px;
    }
  }
}

